<%= render 'user', :user => @user %>
<div id="show_links">
  <% if current_user == @user || admin? %>
    <%= link_to 'Edit User Info', edit_user_path %>
    <% if admin? %>
      | <%= link_to 'All Users', users_path %>
    <% end %>
  <% end %>
</div>
